.outer-box{
    display: flex;
    
}
.inner-box{
    height: 100px;
    width: 100px;
}
.inner-box1{
    background-color: red;
    /* display: flex; */
    flex-basis: 500px;
    
}
.inner-box2{
    background-color: orange;
    flex-basis: 400px;

}
.inner-box3{
    background-color: yellow;
    flex-basis: 300px;

}
.inner-box4{
    background-color: greenyellow;
    flex-basis: 200px;

}
.inner-box5{
    background-color: green;

}

/* Second Box */
.outer-box2{
    display: flex;
    flex-direction: column;
}