@media (max-width:767px){
    .cards{
        display: flex;
        flex-direction: column;
        
    }
}
html {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.cards{
    display: flex;
}
.card {
    margin-left: 2em;
  height: 19em;
  width: 17em;
  background-color: #f3f8ff;
  border-radius: 0.5em;
  border: 2px solid blue;
  text-align: center;
  font-family: cursive;
  margin-bottom: 1.5em;
}
.card button {
  font-size: 1em;
  border: 2px solid blue;
  border-radius: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: 600;
}
.card button:hover{
    font-size: 1.3em;
    background-color: blue;
}
