/* html{
    margin: 0;
    padding: 0;
} */
p{
    border: 2px solid violet;
    background-color: aqua;
    margin: 0;
    padding: 0;
}
.container{
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:1fr 1fr ;
    gap: 10px;
}
