.outer-box{
    border: 1px solid red;
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: flex-start;
}
.inner-box{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid orange;
}

/* flex-end  */
.outer-box2{
    border: 1px solid red;
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: flex-end;
}
.inner-box2{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid orange;
}

/* center  */

.outer-box3{
    border: 1px solid red;
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: center;
}
.inner-box3{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid orange;
}
/* space-between  */

.outer-box4{
    border: 1px solid red;
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.inner-box4{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid orange;
}
/* space-around  */

.outer-box5{
    border: 1px solid red;
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.inner-box5{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid orange;
}

/* evenly  */

.outer-box6{
    border: 1px solid red;
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}
.inner-box6{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 2px solid orange;
}
