.div1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    padding: 10px ;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 50px;
    border-left: red 5px dashed;
}
.div2{
    height: 200px;
    width: 200px;
    background-color:red;
    border: 1px solid black;
    border-radius: 50%;
}